doctype 
html 
  head
    //- won't see me in html
    //-script(src='/javascripts/app.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='js/main.js')
    link(href='css/normalize.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    title FCC -    
  body
    // comment you can see in html
    h1
    .navbar
      ul.nav
        li.item
          a(href="localhost/home") home

