doctype 
html 
  head
    //-script(src='/javascripts/app.js')
    script(src='js/main.js')
    link(href='css/main.css', rel='stylesheet')
    title FCC -    
  body
    //- won't see me in html
    // comment you can see in html
    .navbar
      ul.nav
        li.item
          a(href="localhost/home") home

