doctype 
html 
  head
    //- won't see me in html
    //-script(src='/javascripts/app.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='js/main.js')
    link(href='css/normalize.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    title FCC -    
  body
    // comment you can see in html
    div.container
      div.row
        div.col-xs-12
          |Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          |tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
          |vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
          |no sea takimata sanctus est Lorem ipsum dolor sit amet.

      div.row
        div.col-sm-6 
          p
            | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            | tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            | vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            | no sea takimata sanctus est Lorem ipsum dolor sit amet.
         div.col-sm-6 
           p
             | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
             | tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
             | vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
             | no sea takimata sanctus est Lorem ipsum dolor sit amet.





