doctype html
html(lang='en')
  head
    //-script(src='/javascripts/app.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='js/script.js')
    link(href='css/normalize.min.css', rel='stylesheet')
    link(href='css/style.scss', rel='stylesheet')
    title FCC -  
  body






