doctype 
html 
  head
    //-script(src='/javascripts/app.js')
  body
    //- won't see me in html
    // comment you can see in html
    .navbar
      ul.nav
        li.item
          a(href="localhost/home") home
        li.item
          a(href="localhost/home") maison
        li.item
          a(href="localhost/home") maison
        li.item
          a(href="localhost/home") maison
        li.item
          a(href="localhost/home") maison

